body{
background-color: white;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.container{
    max-width: 1200px;
}

.wrap{
    display: flex;
    border: 2px ;
    padding: 10px;
    flex-direction: column;
}

.card{
    border-radius: 10px;
    border: 2px ;
    padding: 20px;
    margin: 4px 10px 15px 0px;
    background-color: rgb(252, 252, 252);
}

a{
    text-decoration: none;
    color: rgb(112, 109, 109);
    font-weight: bold;
}

.card:hover{
    box-shadow: 10px 10px 5px 5px #b4b4b4;
    transition: 0.2s;
}

.navbar:hover{
color: rgb(207, 61, 61);
text-decoration: underline;
}

