html {
  overflow-x: hidden;
  font-size: 10px;
  height: 100vh;
  width: 100%;
}
body {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  margin: 0 auto ;
}
.main {
  background-color: #2F3238;
}
.main-header-menu {
  padding: 3rem 0;
}
.main-header-menu a {
  margin: 0 5.2rem;
  font-size: 1.8rem;
  color: #FFFFFF;
}
.main-header-menu a:hover {
  color: #fc557c;
  text-decoration: none;
  border-bottom: 1px solid #fc557c;
  transition: 0.4s;
}
.main-header-menu a:focus {
  color: #fc557c;
  border-bottom: 1px solid #fc557c;
}
.main-header-contacts {
  padding: 3rem 0;
}
.main-header-contacts a {
  font-size: 2rem;
  color: #FFFFFF;
}
.main-header-contacts a:hover {
  color: #fc557c;
  text-decoration: none;
  border-bottom: 1px solid #fc557c;
  transition: 0.4s;
}
.main-header-contacts a:focus {
  color: #fc557c;
  border-bottom: 1px solid #fc557c;
}
.main-content-text {
  margin-top: 14rem;
}
.main-content-text h1 {
  color: #B8690B;
  font-size: 11.6rem;
}
.main-content-img {
  display: block;
  text-align: center;
  margin-left: -6rem;
  margin-top: 1.1rem;
  margin-bottom: -0.8rem;
}
.main-content-img img {
  width: 1209px;
  height: 682px;
}
.work {
  background-color: #292C32;
}
.work-header h2 {
  font-weight: 500;
  font-size: 10rem;
  color: #B8690B;
}
.work-content .box {
  background-color: #313949;
  width: 32rem;
  height: 47rem;
  margin-top: 17rem;
  margin-bottom: 34rem;
}
.work-content .box h2 {
  padding: 4rem;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  color: #FFFFFF;
}
.work-content .box p {
  text-align: center;
  font-weight: 500;
  font-size: 2.4rem;
  color: #FFFFFF;
}
.services {
  background-color: #282b31;
}
.services-header h2 {
  font-weight: 500;
  font-size: 10rem;
  color: #B8690B;
}
.services-content h2 {
  text-align: center;
  padding: 3rem;
  font-weight: 500;
  font-size: 5rem;
  color: #B8690B;
}
.services-content a {
  margin-top: 6rem;
  font-weight: 500;
  font-size: 2.5rem;
  color: #B8690B;
  display: block;
  text-align: center;
}
.services-content a:hover {
  color: #e2810b;
  text-decoration: none;
  transition: 0.4s;
}
.services-content .box {
  background-color: #353535;
  height: 75rem;
  width: 46rem;
  margin-top: 14rem;
  margin-bottom: 35rem;
}
.services-content .box p {
  line-height: 5rem;
  padding: 3rem 3rem 0 3rem;
  font-weight: 500;
  font-size: 2.5rem;
  color: #FFFFFF;
}
.services-content .box p:nth-child(2) {
  text-align: center;
  padding: 0;
}
.services-content .box {
  background-color: #353535;
  height: 75rem;
  width: 45rem;
  margin-top: 14rem;
  margin-bottom: 35rem;
}
.services-content .box p {
  line-height: 4.5rem;
  padding: 3rem 3rem 0 3rem;
  font-weight: 500;
  font-size: 2.4rem;
  color: #FFFFFF;
}
.services-content .box p:nth-child(2) {
  text-align: center;
  padding: 0;
}
.contacts {
  padding: 5rem;
  background-color: #212121;
  display: block;
}
.contacts-menu img {
  width: 40px;
  height: 40px;
}
.contacts-social a {
  color: #FFFFFF;
  font-size: 19px;
  padding: 0 0.5rem;
}
.contacts-social a:hover {
  color: #fc557c;
  text-decoration: none;
  border-bottom: 1px solid #fc557c;
  transition: 0.4s;
}
.contacts-social a:focus {
  color: #fc557c;
  border-bottom: 1px solid #fc557c;
}
.contacts-social img {
  width: 40px ;
  height: 28px;
}
.contacts-social img:nth-child(3) {
  width: 35px;
  height: 30px;
}
@media (max-width: 320px) {
  .main-header-menu {
    margin: 3rem 5rem 0 0;
    margin-left: 10rem;
  }
  .main-header-menu a {
    margin: 1rem;
    font-size: 2rem ;
  }
  .main-header-menu a:nth-child(2) {
    margin-top: 0;
  }
  .main-header-menu a:nth-child(3) {
    margin-top: 0;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-header-contacts a {
    display: none;
  }
  .main-content-text {
    margin-top: 0rem;
    margin-left: 1rem;
    margin-bottom: 8rem;
  }
  .main-content-text h1 {
    font-size: 3.8rem;
  }
  .main-content-img {
    display: none;
  }
  .work-header {
    padding: 3.2rem 0 0 0;
  }
  .work-header h2 {
    font-size: 3rem;
  }
  .work-content .box {
    background-color: #292C32;
    margin-top: 6rem;
    margin-left: -1rem;
    margin-bottom: 3rem;
    height: 10rem;
  }
  .work-content .box h2 {
    font-size: 3rem;
  }
  .work-content .box p {
    display: none;
  }
  .services-header {
    padding: 3.5rem 0 0 0;
  }
  .services-header h2 {
    font-size: 3rem;
  }
  .services-content {
    margin-left: -6rem;
  }
  .services-content .box {
    width: 30rem;
    height: 25rem;
    margin-left: 5.5rem;
    margin-bottom: 3rem;
  }
  .services-content .box h2 {
    margin-left: auto;
    font-size: 3rem;
    text-align: center;
  }
  .services-content .box .box_2 {
    margin-left: -2rem;
  }
  .services-content .box p {
    display: none;
  }
  .services-content .box a {
    font-size: 1.8rem;
  }
  .contacts-menu img {
    display: none;
  }
  .contacts-social {
    text-align: center;
  }
  .contacts-social a {
    margin-left: -0.3rem;
    font-size: 1.5rem;
  }
  .contacts-social a:nth-child(4) {
    margin-left: -2rem;
    padding: 2rem 0 0 0 ;
  }
  .contacts-social img {
    display: none;
  }
}
@media (max-width: 375px) {
  .main-header-menu a {
    margin: 0 1.8rem;
    font-size: 1.8rem;
    margin-top: 0rem;
  }
  .main-header-menu a:nth-child(2) {
    margin-top: 0;
  }
  .main-header-menu a:nth-child(3) {
    margin-top: 0;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-header-contacts a {
    display: none;
  }
  .main-content-text {
    margin-top: 0;
    margin-left: -0.5rem;
    margin-bottom: 8rem;
  }
  .main-content-text h1 {
    font-size: 4rem ;
  }
  .main-content-img {
    display: none;
  }
  .work-header {
    padding: 3.2rem 0 0 0;
  }
  .work-header h2 {
    font-size: 3.5rem;
  }
  .work-content .box {
    margin-top: 6rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  .work-content .box h2 {
    font-size: 3rem;
  }
  .services-header {
    padding: 3.5rem 0 0 0;
  }
  .services-header h2 {
    font-size: 3.5rem;
  }
  .services-content {
    margin-left: -6rem;
  }
  .services-content .box {
    width: 30rem;
    height: 55rem;
    margin-left: 8rem;
    margin-bottom: 3rem;
  }
  .services-content .box h2 {
    margin-left: auto;
    font-size: 2.3rem;
    text-align: center;
  }
  .services-content .box .box_2 {
    margin-left: -2rem;
  }
  .services-content .box p {
    line-height: 3.5rem;
    font-size: 1.5rem;
  }
  .services-content .box a {
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  .services-content .box2 {
    margin-bottom: 3rem;
    height: 60rem;
  }
  .services-content .box2 a {
    margin-top: 5rem;
    font-size: 1.8rem;
  }
  .contacts-menu img {
    display: none;
  }
  .contacts-social {
    text-align: center;
  }
  .contacts-social a {
    margin: 3rem;
    margin-left: -0.1rem;
    font-size: 1.5rem;
  }
  .contacts-social a:nth-child(4) {
    margin-left: 0;
    padding: 2rem 0 0 0 ;
  }
  .contacts-social img {
    display: none;
  }
}
@media (max-width: 425) {
  .main-header-menu a {
    margin: 0 1.8rem;
    font-size: 1.8rem;
    margin-top: 0rem;
  }
  .main-header-menu a:nth-child(2) {
    margin-top: 0;
  }
  .main-header-menu a:nth-child(3) {
    margin-top: 0;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-header-contacts a {
    display: none;
  }
  .main-content-text {
    margin-top: 0;
    margin-left: -0.5rem;
    margin-bottom: 8rem;
  }
  .main-content-text h1 {
    font-size: 4rem ;
  }
  .main-content-img {
    display: none;
  }
  .work-header {
    padding: 3.2rem 0 0 0;
  }
  .work-header h2 {
    font-size: 3.5rem;
  }
  .work-content .box {
    margin-top: 6rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  .work-content .box h2 {
    font-size: 3rem;
  }
  .services-header {
    padding: 3.5rem 0 0 0;
  }
  .services-header h2 {
    font-size: 3.5rem;
  }
  .services-content {
    margin-left: -6rem;
  }
  .services-content .box {
    width: 30rem;
    height: 55rem;
    margin-left: 8rem;
    margin-bottom: 3rem;
  }
  .services-content .box h2 {
    margin-left: auto;
    font-size: 2.3rem;
    text-align: center;
  }
  .services-content .box .box_2 {
    margin-left: -2rem;
  }
  .services-content .box p {
    line-height: 3.5rem;
    font-size: 1.5rem;
  }
  .services-content .box a {
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  .services-content .box2 {
    margin-bottom: 3rem;
    height: 60rem;
  }
  .services-content .box2 a {
    margin-top: 5rem;
    font-size: 1.8rem;
  }
  .contacts-menu img {
    display: none;
  }
  .contacts-social {
    text-align: center;
  }
  .contacts-social a {
    margin: 3rem;
    margin-left: -0.1rem;
    font-size: 1.5rem;
  }
  .contacts-social a:nth-child(4) {
    margin-left: 0;
    padding: 2rem 0 0 0 ;
  }
  .contacts-social img {
    display: none;
  }
}
@media (max-width: 500px) {
  .main-header-menu a {
    margin: 0 2.3rem;
    font-size: 1.8rem;
    margin-top: 0rem;
  }
  .main-header-menu a:nth-child(2) {
    margin-top: 0;
  }
  .main-header-menu a:nth-child(3) {
    margin-top: 0;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-header-contacts a {
    display: none;
  }
  .main-content-text {
    margin-top: 0;
    margin-left: -0.5rem;
    margin-bottom: 8rem;
  }
  .main-content-text h1 {
    font-size: 4.5rem;
  }
  .main-content-img {
    display: none;
  }
  .work-header {
    padding: 3.2rem 0 0 0;
  }
  .work-header h2 {
    font-size: 3.5rem;
  }
  .work-content .box {
    margin-top: 6rem;
    margin-left: 3.1rem;
    margin-bottom: 3rem;
  }
  .work-content .box h2 {
    font-size: 3rem;
  }
  .services-header {
    padding: 3.5rem 0 0 0;
  }
  .services-header h2 {
    font-size: 3.5rem;
  }
  .services-content {
    margin-left: -6rem;
  }
  .services-content .box {
    width: 30rem;
    height: 55rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
  }
  .services-content .box h2 {
    margin-left: auto;
    font-size: 2.3rem;
    text-align: center;
  }
  .services-content .box .box_2 {
    margin-left: -2rem;
  }
  .services-content .box p {
    line-height: 3.5rem;
    font-size: 1.5rem;
  }
  .services-content .box a {
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  .services-content .box2 {
    margin-bottom: 3rem;
    height: 60rem;
  }
  .services-content .box2 a {
    margin-top: 5rem;
    font-size: 1.8rem;
  }
  .contacts-menu img {
    display: none;
  }
  .contacts-social {
    text-align: center;
  }
  .contacts-social a {
    margin: 3rem;
    margin-left: -0.1rem;
    font-size: 1.5rem;
  }
  .contacts-social a:nth-child(4) {
    margin-left: 0;
    padding: 2rem 0 0 0 ;
  }
  .contacts-social img {
    display: none;
  }
}
@media (max-width: 768px) {
  .main-header-menu a {
    margin: 7rem;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-content-text {
    margin-top: 5rem;
    margin-left: -0.5rem;
    margin-bottom: 10rem;
  }
  .main-content-text h1 {
    font-size: 6rem ;
  }
  .main-content-img {
    display: none;
  }
  .work-header {
    padding: 3.2rem 0 0 0;
  }
  .work-header h2 {
    font-size: 3.5rem;
  }
  .work-content .box {
    margin-top: 6rem;
    margin-left: 18rem;
    margin-bottom: 3rem;
  }
  .work-content .box h2 {
    font-size: 3rem;
  }
  .services-header {
    padding: 3.5rem 0 0 0;
  }
  .services-header h2 {
    font-size: 3.5rem;
  }
  .services-content {
    margin-left: -6rem;
  }
  .services-content .box {
    width: 30rem;
    height: 55rem;
    margin-left: 24rem;
    margin-bottom: 3rem;
  }
  .services-content .box h2 {
    margin-left: auto;
    font-size: 2.3rem;
    text-align: center;
  }
  .services-content .box .box_2 {
    margin-left: -2rem;
  }
  .services-content .box p {
    line-height: 3.5rem;
    font-size: 1.5rem;
  }
  .services-content .box a {
    margin-top: 4rem;
    font-size: 1.8rem;
  }
  .services-content .box2 {
    margin-bottom: 3rem;
    height: 60rem;
  }
  .services-content .box2 a {
    margin-top: 5rem;
    font-size: 1.8rem;
  }
  .contacts-menu img {
    display: none;
  }
  .contacts-social {
    text-align: center;
  }
  .contacts-social a {
    margin: 3rem;
    margin-left: -0.1rem;
    font-size: 1.5rem;
  }
  .contacts-social a:nth-child(4) {
    margin-left: 0;
    padding: 2rem 0 0 0 ;
  }
  .contacts-social img {
    display: none;
  }
}
